{% extends 'journal_entries/base.html' %}
{% load static %}
{% load render_table from django_tables2 %}

{% block javascript %}
    <script src="{% static 'journal_entries/js/resource.js' %}"></script>
{% endblock %}

{% block content %}
<h1> Journal Entries </h1>

<p>
    <button type="button"
            class="btn btn-primary js-create-resource"
            data-url="{% url 'journal_entries:ajax_create' %}">
      <span class="octicon octicon-pin"></span>
        Add resource
    </button>
</p>

{% render_table table %}

<!--<div class="pagination">-->
<!--    <span class="step-links">-->
<!--        {% if page_obj.has_previous %}-->
<!--            <a href="?page=1">&laquo; first</a>-->
<!--            <a href="?page={{ page_obj.previous_page_number }}">previous</a>-->
<!--        {% endif %}-->

<!--        <span class="current">-->
<!--            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.-->
<!--        </span>-->

<!--        {% if page_obj.has_next %}-->
<!--            <a href="?page={{ page_obj.next_page_number }}">next</a>-->
<!--            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>-->
<!--        {% endif %}-->
<!--    </span>-->
<!--</div>-->


<div class="modal fade" id="modal-resource">
    <div class="modal-dialog">
      <div class="modal-content">
    </div>
</div>



{% endblock %}