{% extends 'journal_entries/base.html' %}
{% load static %}
{% load django_tables2 %}


{% block javascript %}
    <script src="{% static 'journal_entries/js/resource.js' %}"></script>
    <script src="{% static 'journal_entries/js/search.js' %}"></script>
{% endblock %}

{% block content %}
<h1> Journal Entries </h1> <br>

<p>
    <button type="button"
            class="btn btn-primary js-create-resource"
            data-url="{% url 'journal_entries:ajax_create' %}">
      <span class="octicon octicon-pin"></span>
        Add resource
    </button>
    <input id="myInputTextField" style="height: 40px; border-radius: 25px;" placeholder="search resources...">
    <a id="hidden" class="search_filter" href="{% url 'journal_entries:ajax_search' %}" style="text-decoration: none;"></a>
</p>

<br>

{% include 'journal_entries/partial_resource_list.html' %}

<script src="{% static 'journal_entries/js/datatable.js' %}"></script>

<div id="footer"></div>

<div class="modal fade" id="modal-resource">
    <div class="modal-dialog">
      <div class="modal-content">
    </div>
</div>

{% endblock %}