{% for resource in resource_list %}
    <tr>
        <td><a href="{{ resource.link }}" id="resource_title">  {{ resource.title }} </a></td>
        <td> {{ resource.language }}</td>
        <td> {{ resource.framework }}</td>
        <td> {{ resource.pub_date|date:"d b y" }} </td>
        <td>
            <button type="button" class="btn btn-warning btn-sm js-update-resource"
                data-url="{% url 'journal_entries:ajax_update' resource.id %}">
                <span class="octicon octicon-pencil"></span>
            </button>
        </td>
        <td>
            <form method="post" action="{% url 'journal_entries:ajax_delete' resource.id %}">
                {% csrf_token %}
                <button type="button" class="close js-delete-resource"
                        data-url="{% url 'journal_entries:ajax_delete' resource.id %}"
                        aria-label="Close">
                    <span class="octicon octicon-trashcan"></span>
                </button>
            </form>
        </td>
    </tr>
{% empty %}
    <tr>
        <td colspan="7" class="text-center bg-warning">No resources</td>
    </tr>
{% endfor %}