{% if resource_list %}

    <div>
        <table id="resource_list">
            {% for resource in resource_list %}
                <tr>
                    <td><a href="{{ resource.link }}" id="resource_title">  {{ resource.title }} </a></td>
                    <td> {{ resource.language }}</td>
                    <td> {{ resource.framework }}</td>
                    <td> {{ resource.pub_date|date:"d-b-y" }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{% else %}

    <div id="no_resource_statement">
        <p> No resources </p>
    </div>

{% endif %}